<div class="container-fluid">
    <ul class="nav">
        <div class="btn-container">
            <button class="btn btn-outline-primary" routerLink="/login">Login</button>
            <button class="btn btn-link btn-sm" routerLink="/register">Register</button>
        </div>
        <br>
        <li class="nav-header">NHL</li>
        <li><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
        <li><a routerLink="/players" routerLinkActive="active">Players</a></li>
    </ul>
</div>
