<div class="container-fluid">
    <h2 class="page-header">Players</h2>
    <div class="table-responsive">
        <table class="table table-sm table-inverse table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Team</th>
                    <th>GP</th>
                    <th>G</th>
                    <th>A</th>
                    <th>P</th>
                    <th>PTS/G</th>
                    <th>+/-</th>
                    <th>PPG</th>
                    <th>PPA</th>
                    <th>PIM</th>
                    <th>SOG</th>
                    <th>SOG/G</th>
                    <th>HITS</th>
                    <th>BLKS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of (players | paginate:page:pageSize)">
                    <td>{{player.firstName}} {{player.lastName}}</td>
                    <td ngbDropdown>
                        <a ngbDropdownToggle><i class="fa fa-plus"></i></a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Add player to...</h6>
                            <button class="dropdown-item" *ngFor="let team of customTeams" (click)="addPlayer(team, player)">{{team.name}}</button>
                        </div>
                    </td>
                    <td>{{player.position}}</td>
                    <td>{{player.age}}</td>
                    <td>{{player.team}}</td>
                    <td>{{player.stats.gamesPlayed || 0}}</td>
                    <td>{{player.stats.goals || 0}}</td>
                    <td>{{player.stats.assists || 0}}</td>
                    <td>{{player.stats.goals + player.stats.assists || 0}}</td>
                    <td>{{player.stats.pointsPerGame || 0}}</td>
                    <td><span [hidden]="!(player.stats.plusMinus > 0)">+</span>{{player.stats.plusMinus || 0}}</td>
                    <td>{{player.stats.ppGoals || 0}}</td>
                    <td>{{player.stats.ppAsists || 0}}</td>
                    <td>{{player.stats.penaltyMins || 0}}</td>
                    <td>{{player.stats.shots || 0}}</td>
                    <td>{{player.stats.shotsPerGame || 0}}</td>
                    <td>{{player.stats.hits || 0}}</td>
                    <td>{{player.stats.blocks || 0}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination [collectionSize]="playersSize" [(page)]="page" [boundaryLinks]="true" [size]="sm" [directionLinks]="true" [(pageSize)]="pageSize" [maxSize]="3" [ellipses]="true"></ngb-pagination>
</div>
