@media (max-width: 1200px) {
    .root-container {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    div.root-container {
        width: 100% !important;
    }
    nav-menu {
        float: none !important;
        width: 100%;
    }
    .inner-container {
        width: 100% !important;
        float: none !important;
        padding: 0 1em !important;
    }
}

.root-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav-menu {
    width: 15%;
    float: left;
    font-size: 0.9em;
}

.inner-container {
    width: 85%;
    float: left;
    padding-left: 3em;
}
