/* You can add global styles to this file, and also import other style files */
body {
    background-color: #1A1A1A;
    min-width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #F5F5F5;
}